:root {
  background-color: rgba(255, 245, 194, 0.853);
  padding: 0px;
  height: 100%;
}

.wholePage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0%;
}

.logo {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 25px;
  padding: 0px;
}

.cameraBody {
  padding: 0px;
}