:root {
  background-color: rgba(255, 245, 194, 0.853);
  padding: 0px;
  height: 100%;
  box-sizing: border-box;
}

.wholePage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0%;
}

.logo {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 45px;
  padding: 0px;
}

.cameraBody {
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 0px;
}

.output{
  margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 0px;
}